body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#title {
  background-color: #ff4c68;
  color: white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Icons */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}
