body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat," sans-serif;
  font-weight: 900;
}

h1 {
  font-size: 3.5rem;
}

p {
  color: #8f8f8f;
}

/* Headings */

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.cta-heading {
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .cta-heading {
    font-size: 2rem;
  }
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Title Section*/

#title {
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  position: absolute;
  left: 20%;
  transform: rotate(25deg);
  width: 60%;
}

@media (max-width: 768px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 40vw;
  }
  .mobile-title,
  .row {
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .title-image {
    width: 30vw;
  }
  .mobile-title {
    font-size: 2.5rem;
  }
}

.dog-phone-div {
  position: relative;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

/* Icons */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.row {
  margin: 0 auto;
}

/* Pricing Section */

#pricing {
  padding: 50px;
}

.price-text {
  font-size: 2.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */

#cta {
  background-color: #ff4c68;
}

/* Footer Section*/

#footer {
  margin: 10%;
}

.social-media-footer {
  display: inline;
}

.footer-social {
  text-decoration: none;
  color: #000;
  margin: 1%;
  font-size: 1rem;
}

.footer-social:hover {
  color: #ef8172;
}

.copyright-footer {
  color: #8f8f8f;
  padding-left: 30px;
}
