body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#title {
  background-color: #ff4c68;
  color: #ffff;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-buttons {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.dog-phone-div {
  position: relative;
}

.title-image {
  position: absolute;
  left: 20%;
  transform: rotate(25deg);
  width: 60%;
}

#features {
  position: relative;
  background-color: #fff;
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Icons */

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials section */

#testimonials {
  background-color: #ef8172;
  color: #ffff;
  text-align: center;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press Section */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.row {
  margin: 0 auto;
}

/* Pricing Section */

#pricing {
  padding: 50px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* Media Queries */

@media (max-width: 768px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 40vw;
  }
  #title {
    text-align: center;
  }
  h1,
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .title-image {
    width: 30vw;
  }
  h1 {
    font-size: 2.5rem;
  }
}

/* Bottom Section */

#cta {
  background-color: #ff4c68;
  color: #fff;
  padding: 7% 28%;
  text-align: center;
}

.foot-text {
  font-size: 2rem;
  font-family: "Montserrat";
}
